.hero{
    background-image: url(https://img.freepik.com/premium-vector/cafe-restaurant-composition-mock-up-plates-fork-knife-tasty-healthy-food-plate-avocado-salmon-asparagus-nuts-vector-illustration-top-view_451939-85.jpg?w=826);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero h1{
    line-height: 76px;
}
.hero p{
    line-height: 30px;
}